/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#pane{
    -fx-background-image: url("server.png");
    -fx-background-color: transparent;
    -fx-background-repeat: stretch;
    -fx-background-size: 120%;
    -fx-background-position: center center;
}

.table-view{
    -fx-opacity: 80%;
    -fx-border-radius: 10;
}

