/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent
}
#pane{
    -fx-background-image: url("server.png");
    -fx-background-color: transparent;
    -fx-background-repeat: stretch;
    -fx-background-size: 120%;
    -fx-background-position: center center;
}

.table-view{
    -fx-opacity: 80%;
    -fx-border-radius: 10;
}

#console{
    -fx-opacity: 90%;
}

.button{
    -fx-background-color: #afafaf;

}

.text-field{
    -fx-text-box-border: transparent;
}

.table-view{
    -fx-background-color: transparent;
}
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}
.table-view .corner {
    -fx-background-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, rgba(56, 77, 75, 0.27),  rgba(165, 245, 205, 0.27));
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 0 0 0 0px;
}
.table-row-cell: hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: #02f8f8;
}
.table-row-cell: odd{
    -fx-background-color:  rgba(165, 245, 205, 0.27);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell: even{
    -fx-background-color: rgba(56, 77, 75, 0.27);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, rgba(56, 77, 75, 0.27), rgba(165, 245, 205, 0.27));
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, rgba(56, 77, 75, 0.27),  rgba(165, 245, 205, 0.27));
}
.table-row-cell: highlighted {
    -fx-background-color: #f602bc;
    -fx-background-radius: 15px;
}